# TerminusDB gitignore defaults
*~
\#*\#
.\#*
.deps
config.pl
*.index.v1-1
prefix.db
tmp/*
TAGS
httpd.log
transcript.pl
storage/
src/test/python_tests/venv
nohup.out
plugins/registry.pl
terminusdb
**/target/
**/*.so
**/*.dylib
terminusdb-enterprise
.env