# TerminusDB gitignore defaults
*~
\#*\#
.\#*
config.pl
*.index.v1-1
prefix.db
tmp/*
TAGS
httpd.log
transcript.pl
storage/
src/test/python_tests/venv
nohup.out
plugins/registry.pl
terminusdb
**/target/
src/rust/librust.so
src/rust/librust.dylib
terminusdb-enterprise
