version: "3"

volumes:
  terminusdb_storage:

services:
  terminusdb-server:
    image: terminusdb/terminusdb-server:latest
    container_name: terminusdb-server
    hostname: terminusdb-server
    tty: true
    ports:
      - 6363:6363
    environment:
      - TERMINUSDB_SERVER_PORT=6363

      # There are multiple ways to configure TerminusDB security through
      # environment variables. Several reasonable options are included below.
      # Uncomment the option you decide on and comment out others.
      # Don't forget to change the default password!

      # Security Option 1 (default): Assumes TerminusDB is only accessible from
      # the machine it's running on and all access to port 6363 is considered
      # authorized.
      - TERMINUSDB_HTTPS_ENABLED=false
      - TERMINUSDB_AUTOLOGIN=true

      # Security Option 2: TerminusDB is set up behind a TLS-terminating reverse
      # proxy with admin authentication provided by password.
      # - TERMINUSDB_HTTPS_ENABLED=false
      # - TERMINUSDB_AUTOLOGIN=false
      # - TERMINUSDB_PUBLIC_URL=https://example.com
      # - TERMINUSDB_ADMIN_PASS=root  #  Change before exposing to the internet.

      # Security Option 3: Terminate TLS in TerminusDB directly by providing ssl
      # cert files manually, with admin authentication provided by password.
      # See `volumes:` section to specify tls files to mount from your local system
      # for TerminusDB to use to establish TLS sessions.
      # - TERMINUSDB_HTTPS_ENABLED=true
      # - TERMINUSDB_AUTOLOGIN_ENABLED=false
      # - TERMINUSDB_PUBLIC_URL=https://example.com
      # - TERMINUSDB_SSL_CERT=/etc/ssl/fullchain.pem     # This is the path inside the container
      # - TERMINUSDB_SSL_CERT_KEY=/etc/ssl/privkey.pem
      # - TERMINUSDB_ADMIN_PASS=root  #  Change before exposing to the internet.

    # Volumes mounted to the container.
    # Syntax is `[SOURCE:]TARGET[:MODE]` See: https://docs.docker.com/compose/compose-file/#volumes
    # SOURCE: host filesystem path or volume name. TARGET: container filesystem path
