# Build and run tests every night on non-Docker systems.
name: Lint

on:
  pull_request:
    branches: [ main ]

jobs:

  swipl:
    name: SWI-Prolog
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install swi-prolog
        run: ./.github/install-swi-prolog.sh stable

      - name: Checkout tus
        uses: actions/checkout@v4
        with:
          repository: terminusdb/tus
          path: tus
          ref: v0.0.5

      - name: Install tus
        run: swipl -g "pack_install('file://$GITHUB_WORKSPACE/tus', [interactive(false)])"

      - name: Remove tus sources
        run: rm -rf ./tus

      - name: Download swipl-lint
        run: make download-lint

      - name: Lint
        run: make lint

  openapi:
    name: OpenAPI
    runs-on: ubuntu-latest
      
    steps:
      - name: Checkout repository      
        uses: actions/checkout@v4

      - name: Lint
        run: npx @redocly/cli lint docs/openapi.yaml

  clippy:
    name: Rust Clippy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - run: sudo apt update && sudo apt install software-properties-common -y
      - run: sudo apt-add-repository ppa:swi-prolog/stable -y && sudo apt update && sudo apt install swi-prolog-nox protobuf-compiler libprotobuf-dev
      - uses: actions-rs/clippy-check@v1
        continue-on-error: true
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --manifest-path=src/rust/Cargo.toml
            