name: Publish

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - dev
      - canary
      - rc
      - master

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

  # Run tests for any PRs.
  pull_request:

env:
  TERMINUSDB_STORE_PROLOG_VERSION: v0.18.1
  TUS_VERSION: v0.0.5

jobs:
  test_and_push_docker:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: terminusdb/terminusdb-server


    steps:
      - uses: actions/checkout@v2

      - name: Build image
        run: docker build . --file Dockerfile --tag $IMAGE_NAME:local

      - name: Run tests
        run: docker run -e TERMINUSDB_HTTPS_ENABLED=false -e TERMINUSDB_JWT_ENABLED=true --name terminusdb terminusdb/terminusdb-server:local /app/terminusdb/terminusdb test

      - name: Log into Docker Container Registry
        if: github.event_name != 'pull_request'
        run: echo '${{ secrets.DOCKER_PASS }}' | docker login -u terminusdb --password-stdin

      - name: Push image to Docker Container Registry
        if: github.event_name != 'pull_request'
        run: |
          IMAGE_ID=$IMAGE_NAME
          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          # Use Docker `latest` tag convention
          [ "$VERSION" == "master" ] && VERSION=latest

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag $IMAGE_NAME:local $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION

  fedora_bin:
    runs-on: ubuntu-latest
    needs: test_and_push_docker
    steps:
      - uses: actions/checkout@v2
      - run: git clone --single-branch --branch "$TUS_VERSION" 'https://github.com/terminusdb/tus.git'
      - run: sudo docker run --name=fedora -v $(pwd)/tus:/usr/share/swi-prolog/pack/tus -v $(pwd):/app/terminusdb ghcr.io/terminusdb/terminus_store_prolog/terminus_store_prolog_fedora:latest bash -c "cd /app/terminusdb && make bin"
      - run: sudo docker cp fedora:/app/terminusdb/terminusdb fedora-bin
      - name: Upload rpm Artifact
        uses: actions/upload-artifact@v2
        with:
            name: terminusdb-fedora-bin
            path: fedora-bin

  deb_and_rpm:
    runs-on: ubuntu-latest
    needs: [test_and_push_docker, fedora_bin]
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - uses: actions/download-artifact@v2
      with:
        name: terminusdb-linux

    - run: chmod +x terminusdb

    - uses: actions/download-artifact@v2
      with:
        name: terminusdb-fedora-bin

    - run: sudo apt install rpm && sudo gem install --no-document fpm

    - run: make deb

    - name: Upload deb Artifact
      uses: actions/upload-artifact@v2
      with:
        name: terminusdb-deb
        path: terminusdb*.deb

    - name: Rename fedora bin and give executable permissions
      run: mv fedora-bin terminusdb && chmod +x terminusdb

    - run: make rpm

    - name: Upload rpm Artifact
      uses: actions/upload-artifact@v2
      with:
        name: terminusdb-rpm
        path: terminusdb*.rpm

    - name: Upload to bintray repo
      if: github.event_name != 'pull_request'
      run: |
          BRANCH=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          VERSION=$(grep 'VERSION=' Makefile | sed 's/VERSION=//g')
          GIT_HASH=$(git rev-parse --short "$GITHUB_SHA")
          DEB_DISTRIBUTIONS="deb.distribution=buster;deb.distribution=bullseye;deb.distribution=groovy;deb.distribution=focal;deb.distribution=bionic"

          if [ $(echo "${{ github.ref }}" | grep "tag") ]; then
            curl -T terminusdb*.deb -u "robin@terminusdb.com:${{ secrets.JFROG_ACCESS_TOKEN }}" -XPUT "https://terminusdb.jfrog.io/artifactory/terminusdb-deb/pool/terminusdb_${VERSION}_amd64.deb;$DEB_DISTRIBUTIONS;deb.component=main;deb.architecture=amd64"
          fi
          # Upload to dev/canary/rc/production repo
          if [ $(echo "$BRANCH" | grep -P "dev|canary|rc") ]; then
            curl -T terminusdb*.deb -u "robin@terminusdb.com:${{ secrets.JFROG_ACCESS_TOKEN }}" -XPUT "https://terminusdb.jfrog.io/artifactory/terminusdb-deb-$BRANCH/pool/terminusdb_${VERSION}_amd64;$DEB_DISTRIBUTIONS;deb.component=main;deb.architecture=amd64"
          fi


  appimage:
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: rust-toolchain
      uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: stable

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        sudo apt-add-repository ppa:swi-prolog/stable -y
        sudo apt-get update -y
        sudo apt-get install swi-prolog-nox libpcre3 -y

    - name: Create appimage
      run: |
        cd distribution/appimage
        wget https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage
        chmod +x linuxdeploy-x86_64.AppImage
        if [[ $(echo "${{ github.ref }}" | grep "refs/pull") ]]; then
           BRANCH=$(echo "${{ github.base_ref }}" | sed -e 's,.*/\(.*\),\1,')
        else
           BRANCH=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        fi
        ./build_script.sh "$BRANCH" "$TERMINUSDB_STORE_PROLOG_VERSION" "$TUS_VERSION"
        mv "TerminusDB-$(echo $GITHUB_SHA | cut -c 1-7)-x86_64.AppImage" TerminusDB-amd64.AppImage

    - name: Run AppImage tests
      run: cd distribution/appimage && chmod +x TerminusDB-amd64.AppImage && ./TerminusDB-amd64.AppImage test

    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: TerminusDB-amd64.AppImage
        path: distribution/appimage/TerminusDB-amd64.AppImage

  windows:
    runs-on: windows-latest
    env:
      TERMINUSDB_SERVER_PACK_DIR: C:\Program Files\swipl\pack
      TERMINUSDB_HTTPS_ENABLED: false

    steps:
    - uses: actions/checkout@v2

    - name: Get SWI Prolog package hash
      run: Invoke-WebRequest -Uri "https://raw.githubusercontent.com/brunoyb/chocolatey-packages/master/swi-prolog/swi-prolog.nuspec" -OutFile package

    - name: Cache multiple paths
      id: cache_windows_swipl
      uses: actions/cache@v2
      with:
        path: |
          C:\Program Files\swipl
        key: swi-windows-${{ hashFiles('./package') }}

    - name: Install SWI Prolog
      if: steps.cache_windows_swipl.outputs.cache-hit != 'true'
      run: choco install swi-prolog

    - name: Download Windows requirements
      run: |
        $SWI_INSTALL_DIR="C:\Program Files\swipl"
        mkdir swipl
        cd swipl
        mkdir pack && cd pack
        git clone https://github.com/terminusdb/terminus_store_prolog.git
        git clone --single-branch --branch "$env:TUS_VERSION" https://github.com/terminusdb/tus.git
        cd terminus_store_prolog
        git checkout $env:TERMINUSDB_STORE_PROLOG_VERSION
        md lib/x64-win64 -ea 0
        Invoke-WebRequest -Uri "https://github.com/terminusdb/terminus_store_prolog/releases/download/$env:TERMINUSDB_STORE_PROLOG_VERSION/libterminus_store.dll" -OutFile lib/x64-win64/libterminus_store.dll
        cd "$env:GITHUB_WORKSPACE"
        xcopy /E /q "$SWI_INSTALL_DIR" swipl\

    - name: Package windows tar
      run: |
        mkdir extracted && tar.exe --exclude=extracted/terminusdb_windows.tar.gz -a -c -f extracted\terminusdb_windows.tar.gz *

    - name: Run tests
      run: |
        $env:TERMINUSDB_SERVER_PACK_DIR="swipl\pack"
        swipl\bin\swipl src/start.pl test

    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: TerminusDB-server-windows.tar.gz
        path: extracted\terminusdb_windows.tar.gz


  windows_desktop:
    runs-on: windows-latest
    needs: windows

    steps:
    - uses: actions/checkout@v2


    - uses: actions/download-artifact@v2
      with:
        name: TerminusDB-server-windows.tar.gz

    - run: |
        cd distribution/desktop
        mkdir public/windows
        cd public/windows
        tar xf ../../../../terminusdb_windows.tar.gz
        cd ../../
        npm i
        npx electron-builder build -p never
        for file in dist/TerminusDB\ Setup*.exe; do mv "$file" "dist/terminusdb-desktop Setup.exe"; done
      shell: bash

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: "terminusdb-desktop Setup.exe"
        path: "distribution/desktop/dist/terminusdb-desktop Setup.exe"


  linux_desktop:
    runs-on: ubuntu-latest
    needs: appimage
    defaults:
      run:
        working-directory: distribution/desktop

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: 14

    - run: npm install

    - uses: actions/download-artifact@v2
      with:
        name: TerminusDB-amd64.AppImage
        path: distribution/desktop/public

    - run: chmod +x public/TerminusDB-amd64.AppImage

    - run: |
        npx electron-builder build --linux appimage -p never
        TAG=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        mv dist/*.AppImage dist/terminusdb-desktop.AppImage


    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: terminusdb-desktop.AppImage
        path: distribution/desktop/dist/terminusdb-desktop.AppImage

  mac_os_desktop:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: distribution/desktop
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: 14

    - name: Cache node modules on Mac
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.os }}-build-terminusdb-desktop-${{ hashFiles('**/package-lock.json') }}

    - run: npm install

    - name: Install terminusdb-store-prolog
      run: |
        if [[ $(echo "${{ github.ref }}" | grep "refs/pull") ]]; then
           TAG=$(echo "${{ github.base_ref }}" | sed -e 's,.*/\(.*\),\1,')
        else
           TAG=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        fi
        bash ../mac/install_dependencies.sh "$TERMINUSDB_STORE_PROLOG_VERSION" "$TAG" "$TUS_VERSION"

    - name: Cache SWI Prolog on Mac
      id: cache_mac_swipl
      uses: actions/cache@v2
      with:
        path: distribution/desktop/public/SWI-Prolog.app
        key: ${{ runner.os }}-swipl2-terminusdb-desktop-${{ hashFiles('distribution/desktop/public/pack/terminus_store_prolog/.ci/install_swipl_dmg.sh') }}

    - name: Install SWI Prolog if cache does not hit
      if: steps.cache_mac_swipl.outputs.cache-hit != 'true'
      run: bash ../mac/install_swipl.sh

    - name: Compile dmg
      run: |
        npm run build-mac-os
        mv dist/*.dmg dist/terminusdb-desktop.dmg

    - name: Run tests
      run: |
        export TERMINUSDB_SERVER_PACK_DIR=./public/pack
        public/SWI-Prolog.app/Contents/MacOS/swipl -g halt public/terminusdb-server/src/start.pl test

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: terminusdb-desktop.dmg
        path: distribution/desktop/dist/terminusdb-desktop.dmg

  deploy:
    runs-on: ubuntu-latest
    needs: [test_and_push_docker, appimage, windows, windows_desktop, linux_desktop, mac_os_desktop]
    if: ${{ github.event_name != 'pull_request' && github.ref != 'refs/heads/dev' && github.ref != 'refs/heads/master' }}

    steps:
    - uses: actions/checkout@v2

    - uses: actions/download-artifact@v2

    - name: Set release name
      id: release_name
      run: |
        SUFFIX=""
        if echo "$GITHUB_REF" | grep -P "canary|rc" ; then SUFFIX="-tag"; fi
        TAG=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        TAG_WITH_SUFFIX="$TAG$SUFFIX"
        echo "::set-output name=tag::$TAG_WITH_SUFFIX"

    - name: Delete tag and release
      uses: dev-drprasad/delete-tag-and-release@v0.1.2
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.release_name.outputs.tag }}
      continue-on-error: true

    - name: Create a Release
      id: create_release
      uses: softprops/action-gh-release@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.release_name.outputs.tag }}
        prerelease: ${{ !contains(github.ref, 'tags') }}
        files: |
          terminusdb-desktop Setup.exe/terminusdb-desktop Setup.exe
          terminusdb-desktop.AppImage/terminusdb-desktop.AppImage
          TerminusDB-amd64.AppImage/TerminusDB-amd64.AppImage
          TerminusDB-server-windows.tar.gz/terminusdb_windows.tar.gz
          terminusdb-desktop.dmg/terminusdb-desktop.dmg
          terminusdb-deb/terminusdb*.deb
          terminusdb-rpm/terminusdb*.rpm
